*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    text-align: center;
}
.separador{
    background-image: url(../img/hcug5qqzrxe-mario-calvo.jpg);
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*NAVBAR*/
header .navbar{
    background-color: #030804;
    border: none;
    padding: 0.5em;
    margin-bottom: 0;
}

.navbar #bs-example-navbar-collapse-1 .list{
    font-size: 1em;
    font-weight: bold;
    color: darkorange;
}
.navbar #bs-example-navbar-collapse-1 .list:hover{
    color: white;
    background-color: transparent;
}
.nav>li>.list:focus,
.nav>li>.list:hover {
    text-decoration: none;
    background-color: transparent;
}
/*HEADER*/
#home{
    background-attachment: fixed;
    background-image: url(../img/header3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.cont-text{
    line-height: 1;
    padding-top: 15%;
}
.frontend {
    font-size: 43px;
    color: whitesmoke;
}
.date{
    line-height: 1;
    margin-top: 10px;
}
.developer{
    font-size: 43px;
    color: whitesmoke;
}
.name {
    color: turquoise;
    font-weight: bold;
    font-size: 7em;
}
.last-name {
    margin-top: 10px;
    color: turquoise;
    font-weight: bold;
    font-size: 6em;
}
@media(max-width:622px){
    .developer,
    .fontend{
        font-size: 40px;
    }
    .name{
        font-size: 5em;
    }
    .last-name{
        font-size: 4em;
    }
}


/*ABOUT-ME*/
#aboutme{
    padding-top: 55px;
    padding-bottom: 45px;
}
.tittle-aboutme{
    font-size: 145px;
    font-weight: bold;
}
.letter-a{
    margin: -53px 0px 0px -65px;
    width: 350px;
}
.aboutme-text{
    text-align: justify;
    padding: 30px 0px;
}
@media(max-width:1199px) {
    .letter-a{
        display: none;
    }
}

/*SKILL*/
.tittle-skill{
    font-size: 105px;
    font-weight: bold;
}
.chart {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.percent {
    display: inline-block;
    line-height: 100px;
    z-index: 2;
    font-weight: bold;
    font-size: 25px;
}

.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: 1em;
}

/*PORTFOLIO*/

.tittle-portfolio{
    font-weight: bold;
    font-size: 105px;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1104 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 100%;
    background: #000000;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1104 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

figure.snip1104 img {
    width: 100%;
    position: relative;
    opacity: 0.4;
}

figure.snip1104 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

figure.snip1104 h2 {
    position: absolute;
    left: 40px;
    right: 40px;
    display: inline-block;
    background: #000000;
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    padding: 12px 5px;
    margin: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 400;
}

figure.snip1104 h2 span {
    font-weight: 800;
}

figure.snip1104:before {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
    background: #ffffff;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(110deg) translateY(-50%);
    transform: rotate(110deg) translateY(-50%);
}

figure.snip1104 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

figure.snip1104.blue {
    background: #123851;
}

figure.snip1104.blue h2 {
    background: #0a212f;
}

figure.snip1104.red {
    background: #581a14;
}

figure.snip1104.red h2 {
    background: #36100c;
}

figure.snip1104.yellow {
    background: #7f5006;
}

figure.snip1104.yellow h2 {
    background: #583804;
}

figure.snip1104:hover img,
figure.snip1104.hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

figure.snip1104:hover h2,
figure.snip1104.hover h2 {
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.snip1104:hover:before,
figure.snip1104.hover:before {
    -webkit-transform: rotate(110deg) translateY(-150%);
    transform: rotate(110deg) translateY(-150%);
}
/*CONTACT*/
#contact{
    padding: 88px 0px;
}
.tittle-contact{
    font-weight: bold;
    font-size: 102px;
}
ul.social-network {	
    margin: 0;
    margin-left:0;
    padding-left: 0;
    list-style: none;
}
ul.social-network li {
    display: inline;
    margin: 5px 5px;
}
ul.social-network li a:hover span .fa-circle {
    color: gray;
}
.icon-social{
    color:darkorange;
}
.email{
    color: black;
}
.email:hover{
    color: darkorange;;
}
.cv{
    padding: 0.5em 2em;
    border-radius: 5px;
    border: 1px solid darkorange;
    background-color: darkorange;
    color: white;
    text-decoration: none;
}
.cv:hover {
    border: 1px solid darkorange;
    background-color: white;
    color: darkorange;
}
.cv span{
    margin-right: 1em;
}
.autor{
    background-color: #231F20;
    color: white;
    padding: 1.2em 0;
}

/*TOP*/
#toTop {
    background:black;
    cursor:pointer;
    display:none;
    color:yellow;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    height: 32px;
    width: 32px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;

    opacity: 0.5;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

/*WOW*/
.wow {
    visibility: hidden;
}