@import url('https://fonts.googleapis.com/css?family=Lobster|Play|Pacifico|Playball');

*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

/*UTILICES*/
.mrl-3{
    margin: 0px 3%;
}
.pt-2{
    padding-top: 2%;
}
.pt-5{
    padding-top: 5%;
}
.pt-10{
    padding-top: 10%;
}
.pb-10{
    padding-bottom: 10%;
}
.pb-3{
    padding-bottom: 3%;
}

/*SPACE*/
/*.space1{
    background-image: url(../img/background/space-one.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 50%;
}*/
.space2{
    background-image: url(../img/background/bg-project.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 40%;
}

/*---------------HOME--------------------*/
#text {
    color: black;
    font-family: 'play', cursive;
    font-size: 20px;
}

#text:after {
    position: relative;
    content: "|";
    color: transparent;
    background-color: black;
    text-shadow: 0px 0px;
    animation: blinking 1s infinite;
}

@keyframes blinking {
    0%,
    100% {
        visibility: hidden;
        opacity: 0;
    }
    50% {
        visibility: visible;
        opacity: 1;
    }
}
.text-home{
    color: rgb(197, 237, 255);
}
.text-home h1{
    font-size: 100px;
    font-family: 'Pacifico', cursive;
}
@media screen and (max-width:998px){
    .text-home{
        text-align: center;
    }
}

/*ABOUT-ME*/
#about h1{
    font-size: 85px;
    font-family: 'Playball', cursive;
    font-weight:bold;
    padding-bottom: 20px;
}
.img-perfil {
    width: 270px;
}
#about p{
    font-family: 'Play', sans-serif;
    font-size: 18px;
    padding: 5px 39px;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px){
    #about h1{
        font-size: 80px;
    }
}

/*SKILLS*/
#skills h1{
    font-size: 85px;
    font-family: 'Playball', cursive;
    font-weight:bold;
    padding-bottom: 20px;
}

/*PROJECT*/
.space2 h1{
    font-size: 85px;
    font-family: 'Playball', cursive;
    font-weight:bold;
    padding-top: 90px;
    padding-bottom: 90px;
}
.thumbail img{
    width: 100%;
}
.thumbail {
    position:relative;
    overflow:hidden;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background-color: black;
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}