@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Montserrat', serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/*=============MENU==============*/
.avatar{
    width: 100%
}
.logo-name {
    background-color: rgba(96, 125, 139, 0.41);
    color: #Eee;
    font-weight: bold;
    padding-top: 4%;
    padding-bottom: 4%;
}

@media screen and (max-width: 768px){
    .avatar{
        display:none;
    }
}
/**==========SECCIONES===========*/
section h2{
    font-size: 3em;
    letter-spacing: -4px;
}
/*=========INICIO=========*/
#inicio{
    background-image: url(../img/banner/bg-inicio.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 30% 0% 30% 0%;
    height: 523px;
}
.linea-espacio {
    border-bottom:1px solid #fff;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 20%;
}
#inicio h1{
    font-size: 55px;
    margin: 0px;
}

/*================SOBRE-MI=================*/
#sobreMi{
    height: 600px;
}
/*============PORTAFOLIO============*/
#portafolio{
    background-image: url(../img/banner/bg-portfolio.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 600px;
}
/*==============HABILIDADES==============*/
#habilidad{
    height: 600px;
    
}
/*==========CONTACTO==========*/
#contacto{
    background-attachment: fixed;
    background-color: black;
    background-image: url(../img/banner/bg-contacto.png);
    background-size: cover;
    color: rgba(255, 255, 255, 0.98);
    height: 665px;
    padding: 17% 0% 0% 0%;
}
ul.social-network {	
    margin: 0;
    margin-left:0;
    padding-left: 0;
    list-style: none;
}
ul.social-network li {
    margin: 5px 5px;
    display: inline;
}

ul.social-network li a:hover span .fa-circle {
    color: black;
}
.icon-social{
    color: #a94442;
}
